#maingrid{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
#item {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr;
    height: 52vh; 
    width: 45%;
    margin: 2% auto;
    background-color: #583C87;
    border-radius: 15px;
    border: 0.1px solid black; 
  }
  #error h6{
    font-size: 250%;
    font-family: sans-serif;
    padding: 8%;
  }
  #error {
    height: 50vh;
    margin: 7% auto;
    width: 80vw;
    background-image: url("./images/error-404-4344461-3613889.webp");
    background-repeat: no-repeat;
    background-position: right;
    animation: pop 7s infinite ease-in-out alternate; /* Adjusted animation property */
  }
  @keyframes pop {
    0% {
      transform: scale(0.9) translateY(0%);
    }
    100% {
      transform: scale(1) translateY(-10%);
    }
  }
  
  
  /* #error {
    background-image: url("./images/notdata.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    margin-top: -2%;
    width: 100%;
    justify-content: center; 
    align-items: center; 
  }
  
  #error h6 {
    font-size: 3.5rem; 
    font-family: sans-serif;
    margin: 10% 3%;
    color: black;
  } */
  
  #poster {
    grid-column: 1; 
    width: max-content;
    height: 52vh;
    grid-row: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  img {
    max-width: 100%; 
    object-fit: cover;
    height: 52vh;
    width: 20vw;
    border-radius: 15px; 
  }
  
  #title {
    color: black;
    padding: 20%;
  }
  #detail{
    background-color: none;
    color: rgb(240, 236, 236);
  }
  h2#detail{
    background-color:#583C87;
    text-align: center !important;
    font-size: 1.9rem;
  }
  h3#detail{
    text-align: center;
  }