#maingrid{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
#item {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr;
    height: 52vh; 
    width: 45%;
    margin: 2% auto;
    background-color: #583C87;
    border-radius: 15px;
    border: 0.1px solid black; 
  }
  #error h6{
    font-size: 250%;
    font-family: sans-serif;
    padding: 8%;
  }
  #error {
    height: 50vh;
    margin: 7% auto;
    width: 80vw;
    background-image: url("./images/error-404-4344461-3613889.webp");
    background-repeat: no-repeat;
    background-position: right;
    animation: pop 7s infinite ease-in-out alternate; /* Adjusted animation property */
  }
  @keyframes pop {
    0% {
      transform: scale(0.9) translateY(0%);
    }
    100% {
      transform: scale(1) translateY(-10%);
    }
  }
  
  
  /* #error {
    background-image: url("./images/notdata.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    margin-top: -2%;
    width: 100%;
    justify-content: center; 
    align-items: center; 
  }
  
  #error h6 {
    font-size: 3.5rem; 
    font-family: sans-serif;
    margin: 10% 3%;
    color: black;
  } */
  
  #poster {
    grid-column: 1; 
    width: max-content;
    height: 52vh;
    grid-row: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  img {
    max-width: 100%; 
    object-fit: cover;
    height: 52vh;
    width: 20vw;
    border-radius: 15px; 
  }
  
  #title {
    color: black;
    padding: 0%;
    
  }
  #detail{
    border-radius: 15px;
    display: flex;
    background-color: none;
    color: rgb(240, 236, 236);
    justify-content: center;
    align-items: center;
  }
  h2#detail{
    background-color:#583C87;
    text-align: center !important;
    font-size: 1.8em;
  }
  h3#detail{
    text-align: center;
    font-size: 140%;
  }
  input[type="search"]{
    width: 20%;
    height: 7vh;
    margin: 2%;
    border-radius: 15px;
    border: 0.2px solid black;
    outline: none;
    padding: 1%;
    float: right;
  }
  
  /* #unwish{
    float: right;
    display: block;
    margin-top: 4.4%;
    margin-right: 4%;
    padding:2%;
    width: 5%;
    height: 5%;
    justify-content: center;
    border-radius: 0px 10px 0px 0px;
    scale: 2;
    color:rgb(224, 60, 87);
    cursor: pointer;
    background-color: rgba(34, 30, 30, 0.534);
    margin-bottom: 7%;
  } */
  #decon{
    margin:20% auto ;
  }
  @media screen and (max-width: 520px) {
    #maingrid{
      display: block;
    }
    #error h6{
      font-size: 200%;
      text-align: center;
      margin-top: 30%;
      padding-bottom: 0%;
      padding-top: 0%;
      margin-top: 20%;
    }
    #error{
      background-position-y: 100%;
      margin-bottom: 0%;
      scale: 0.8;
      height:80vh;
      padding-bottom: 0%;
      overflow: hidden;
      animation-name: wind;
    }
    @keyframes wind {
      from{
        scale: 0.9;
      }to{
        scale: 0.8;
      }
    }
    input[type="search"]{
      float: none;
      position: relative;
      right: 30%;
      width: 40%;
      min-width: 40vw;
      border-radius: 10px;
      font-size: 101%;
    }
    #item{
      width: 100%;
      grid-template-columns: 1.1fr 1fr;
      scale: 0.9;
      height: 52vh;
      border: none;
    }
    #poster{
      width: 100%;

    }
    img{
      width: 100%;
    }
    h2#detail{
      padding: 4.3rem 2%;
      padding-bottom: 0%;
      font-size: 140%;
    
    }
    #unwish{
      padding:1% 8% 0% 0%;
    }
    h3#detail{
      font-size: 110%;
    }
    #unwish{
      font-size: 90%;
    }
  }
  